In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import time
import pickle

# Коммерсант

In [2]:
# комменрсант
f_1 = pd.read_excel('texts_3.xlsx')
f_2 = pd.read_excel('texts.xlsx')
k_1 = pd.concat([f_1,f_2])

In [58]:
print len(k_1)
k_1.head()

16597

,artical_subheader,article_header,authors,text,url
0,NaN,«Свободная торговля — это хорошо?»,NaN,Неоднозначную ситуацию со столь ценимой истебл...,/doc/3594283
1,Кто победит в торговой войне США и Китая,Непримиримые торги,"АЛЕКСАНДР ЗОТИН, старший научный сотрудник Все...",Месяц назад США фактически объявили торговую в...,/doc/3594170
2,Мониторинг капвложений,Прямые иностранные инвестиции снова утекают из РФ,Алексей Шаповалов,ЦБ опубликовал часть подробной статистики пото...,/doc/3598321
3,Проект о спасении страховщиков готов ко втором...,Санация как возмездие,Татьяна Гришина,"Завтра Госдума рассмотрит во втором, основном ...",/doc/3598315
4,Вклад цифровизации в ВВП плохо отражается в ст...,Аршином цифру не измерить,Надежда Краснушкина,Массовое проникновение информационных технолог...,/doc/3598313

In [3]:
f_1 = pd.read_excel('res_3.xlsx')
f_2 = pd.concat([pd.read_excel('res_4_2016.xlsx'),
                 pd.read_excel('res_4_2017.xlsx'),
                 pd.read_excel('res_4_2018.xlsx')])

f_3 = pd.concat([pd.read_excel('res_40_2016_2017.xlsx'),
                 pd.read_excel('res_40_2018.xlsx')])

k_2 = pd.concat([f_1, f_2, f_3])

In [59]:
print len(k_2)
k_2.head()

17434

  error        step   time           url
0   NaN  2018-01-01  0.656  /doc/3512538
1   NaN  2018-01-01  0.660  /doc/3512325
2   NaN  2018-01-01  0.664  /doc/3512394
3   NaN  2018-01-01  0.668  /doc/3512393
4   NaN  2018-01-01  0.668  /doc/3511610

In [13]:
k = k_1.merge(k_2, on = ['url'])

In [14]:
k = k.sort_values('time')
k = k.drop_duplicates(['text'], keep = 'first')

In [64]:
k.head()

,artical_subheader,article_header,authors,text,url,error,step,time
11975,"Госкорпорация предлагает Ташкенту АЭС на 2,4 ГВт",«Росатом» готов строить в Узбекистане,Анатолий Джумайло,Смена власти в Узбекистане продолжает повышать...,/doc/3512717,NaN,2018-01-01,0.411
11995,Как рынку сигарет подбирали контролеров,Табачок врозь,Олег Трутнев,Рост теневого рынка сигарет в 2017 году обостр...,/doc/3512539,NaN,2018-01-01,0.415
11985,Как чиновники не оправдали ожидания автоконцернов,Рынок без руля,Яна Циноева,Надежды автопрома увидеть в 2017 году на фоне ...,/doc/3512540,NaN,2018-01-01,0.415
12015,Почему влияние Игоря Сечина продолжает расти,Лом как аргумент,Юрий Барсуков,В 2017 году глава «Роснефти» Игорь Сечин продо...,/doc/3511820,NaN,2018-01-01,0.419
12005,Худшие опасения по поводу ограничений в интерн...,Неприкрытый доступ,Роман Рожков,Уходящий 2017 год интернет-отрасль провела в т...,/doc/3512178,NaN,2018-01-01,0.419

In [65]:
print len(k)
print len(k['text'].drop_duplicates())
print len(k['url'].drop_duplicates())
print len(k['time'].drop_duplicates())

16594
16594
16594
8511

# Ведомости

In [4]:
v_1 = pd.read_excel('vedomosti_texts.xlsx')
v_2 = pd.read_excel('vedomosti_url.xlsx')
v_2['url'] = u'https://' + v_2['url']

In [10]:
print len(v_1)
v_1.head()

2410

,artical_subheader,article_header,error,text,url
0,Им дадут возможность рассчитаться с контра...,Российским компаниям под санкциями позволя...,NaN,\n Бизнес почти дождался смягчения валютног...,https://vdmsti.ru/DPi
1,И возложил ответственность за его действия...,Кадыров подтвердил чеченское происхождение...,NaN,"\n Глава Чечни Рамзан Кадыров подтвердил, ч...",https://www.vedomosti.ru/politics/articles/201...
2,По данным проекта «Белый счетч...,Митинг за свободный интернет н...,NaN,NaN,https://www.vedomosti.ru/politics/galleries/20...
3,NaN,NaN,NaN,NaN,https://www.vedomosti.ru/politics/news/2018/05...
4,Мессенджер продолжает работать в России,Роскомнадзор разблокировал закрытую при бл...,NaN,\n Роскомнадзор разблокировал около 8200 ip...,https://www.vedomosti.ru/technology/articles/2...

In [11]:
print len(v_2)
v_2.head()

2410

,id,index,time,url
0,2383,0,2018-05-13 19:21:11,https://vdmsti.ru/DPi
1,2381,2,2018-05-13 13:28:52,https://www.vedomosti.ru/politics/articles/201...
2,2380,3,2018-05-13 13:25:10,https://www.vedomosti.ru/politics/galleries/20...
3,2376,7,2018-05-13 12:54:58,https://www.vedomosti.ru/politics/news/2018/05...
4,2375,8,2018-05-13 11:16:26,https://www.vedomosti.ru/technology/articles/2...

In [5]:
v = v_1.merge(v_2, on = ['url'])
v = v.sort_values('time')

In [34]:
v.head()

,artical_subheader,article_header,error,text,url,id,index,time
2650,На авиашоу в Чжухае впервые по...,Китайский авиасалон наступает ...,NaN,NaN,https://goo.gl/azaeQW,4,2320,2016-11-01 13:16:26
2643,Бояться в стране главному экономисту ЕБРР ...,Сергей Гуриев приедет в Москву впервые пос...,NaN,\n Бывший ректор Российской экономической ш...,https://goo.gl/HN3OKQ.,4,2320,2016-11-01 13:16:26
2644,Как изменится кабинет министро...,NaN,NaN,NaN,https://goo.gl/YzZECy,4,2320,2016-11-01 13:16:26
2645,"Правда, сначала от прав на него должен отк...",«Роснефть» может получить дворец в Ропше у...,NaN,"\n «Дворцово-парковый ансамбль ""Ропша""» с з...",https://goo.gl/pXVnyU,4,2320,2016-11-01 13:16:26
2649,NaN,Беспилотный автомобиль очень о...,NaN,NaN,https://goo.gl/mklaIc,4,2320,2016-11-01 13:16:26

In [36]:
v = v.drop_duplicates(['text'], keep = 'first')

In [39]:
print len(v)
print len(v['text'].drop_duplicates())
print len(v['url'].drop_duplicates())
print len(v['time'].drop_duplicates())

1941
1941
1941
735

# РБК

In [6]:
r_1 = pd.read_excel('rbc_texts.xlsx')
r_2 = pd.read_excel('rbc_url.xlsx')
r_2['url'] = u'https://' + r_2['url']

In [7]:
r = r_1.merge(r_2, on = ['url'])
r = r.sort_values('time')

In [8]:
r = r.drop_duplicates(['text'], keep = 'first')

In [70]:
print len(r)
print len(r['text'].drop_duplicates())
print len(r['url'].drop_duplicates())
print len(r['time'].drop_duplicates())

1396
1396
1396
747

# Total

In [9]:
v['source'] = 'v'
print len(v)
v.head()

2651

,artical_subheader,article_header,error,text,url,id,index,time,source
2650,На авиашоу в Чжухае впервые по...,Китайский авиасалон наступает ...,NaN,NaN,https://goo.gl/azaeQW,4,2320,2016-11-01 13:16:26,v
2643,Бояться в стране главному экономисту ЕБРР ...,Сергей Гуриев приедет в Москву впервые пос...,NaN,\n Бывший ректор Российской экономической ш...,https://goo.gl/HN3OKQ.,4,2320,2016-11-01 13:16:26,v
2644,Как изменится кабинет министро...,NaN,NaN,NaN,https://goo.gl/YzZECy,4,2320,2016-11-01 13:16:26,v
2645,"Правда, сначала от прав на него должен отк...",«Роснефть» может получить дворец в Ропше у...,NaN,"\n «Дворцово-парковый ансамбль ""Ропша""» с з...",https://goo.gl/pXVnyU,4,2320,2016-11-01 13:16:26,v
2649,NaN,Беспилотный автомобиль очень о...,NaN,NaN,https://goo.gl/mklaIc,4,2320,2016-11-01 13:16:26,v

In [10]:
r['source'] = 'r'
print len(r)
r.head()

1396

,artical_subheader,article_header,category,date,error,text,url,id,index,time,source
1630,Епископ Егорьевский Тихон (Шевкунов) возглавил...,На избирательном участке в Тольятти произошла ...,NaN,"18 сен 2016, 19:44",NaN,Полиции на одном из избирательных участков в Т...,https://vk.cc/5Cv1pk,14,1012,2016-09-18 22:45:11,r
1614,NaN,NaN,NaN,NaN,NaN,NaN,https://vk.cc/5CtWZC,14,1012,2016-09-18 22:45:11,r
1615,В Думу седьмого созыва по партийным спискам пр...,Опубликованы данные экзитполов на выборах в Го...,"Политика,","18 сен 2016, 21:01",NaN,В 21:00 закрылись избирательные участки в само...,https://vk.cc/5CtWlM,14,1012,2016-09-18 22:45:11,r
1616,Избиратели Москвы и Санкт-Петербурга почти про...,На выборах в Москве и Петербурге зафиксировали...,NaN,"18 сен 2016, 19:51",NaN,"Москва, Санкт-Петербург и Московская область —...",https://vk.cc/5Cu3hZ,14,1012,2016-09-18 22:45:11,r
1617,Владимир Путин и Дмитрий Медведев оценили резу...,Путин и Медведев заявили о победе «Единой Росс...,NaN,"18 сен 2016, 21:24",NaN,Президент Владимир Путин и премьер Дмитрий Мед...,https://vk.cc/5CufCC,14,1012,2016-09-18 22:45:11,r

In [45]:
k['source'] = 'k'
del k['time']
k = k.rename(columns = {'step':"time"})
k['time'] = pd.to_datetime(k['time'], format = '%Y-%m-%d')
print len(k)
k.head()

16594

,artical_subheader,article_header,authors,text,url,error,time,source
11975,"Госкорпорация предлагает Ташкенту АЭС на 2,4 ГВт",«Росатом» готов строить в Узбекистане,Анатолий Джумайло,Смена власти в Узбекистане продолжает повышать...,/doc/3512717,NaN,2018-01-01,k
11995,Как рынку сигарет подбирали контролеров,Табачок врозь,Олег Трутнев,Рост теневого рынка сигарет в 2017 году обостр...,/doc/3512539,NaN,2018-01-01,k
11985,Как чиновники не оправдали ожидания автоконцернов,Рынок без руля,Яна Циноева,Надежды автопрома увидеть в 2017 году на фоне ...,/doc/3512540,NaN,2018-01-01,k
12015,Почему влияние Игоря Сечина продолжает расти,Лом как аргумент,Юрий Барсуков,В 2017 году глава «Роснефти» Игорь Сечин продо...,/doc/3511820,NaN,2018-01-01,k
12005,Худшие опасения по поводу ограничений в интерн...,Неприкрытый доступ,Роман Рожков,Уходящий 2017 год интернет-отрасль провела в т...,/doc/3512178,NaN,2018-01-01,k

In [55]:
t = pd.concat([v,k,r])

In [56]:
print len(t)
t.head()

20641

,artical_subheader,article_header,authors,category,date,error,id,index,source,text,time,url
2650,На авиашоу в Чжухае впервые по...,Китайский авиасалон наступает ...,NaN,NaN,NaN,NaN,4.0,2320.0,v,NaN,2016-11-01 13:16:26,https://goo.gl/azaeQW
2643,Бояться в стране главному экономисту ЕБРР ...,Сергей Гуриев приедет в Москву впервые пос...,NaN,NaN,NaN,NaN,4.0,2320.0,v,\n Бывший ректор Российской экономической ш...,2016-11-01 13:16:26,https://goo.gl/HN3OKQ.
2644,Как изменится кабинет министро...,NaN,NaN,NaN,NaN,NaN,4.0,2320.0,v,NaN,2016-11-01 13:16:26,https://goo.gl/YzZECy
2645,"Правда, сначала от прав на него должен отк...",«Роснефть» может получить дворец в Ропше у...,NaN,NaN,NaN,NaN,4.0,2320.0,v,"\n «Дворцово-парковый ансамбль ""Ропша""» с з...",2016-11-01 13:16:26,https://goo.gl/pXVnyU
2649,NaN,Беспилотный автомобиль очень о...,NaN,NaN,NaN,NaN,4.0,2320.0,v,NaN,2016-11-01 13:16:26,https://goo.gl/mklaIc

In [59]:
t = t.sort_values(['time']).drop_duplicates(['text'])

In [67]:
print len(t)
print len(t['text'].drop_duplicates())
print len(t['url'].drop_duplicates())
print len(t['time'].drop_duplicates())

19929
19929
19929
2307

In [68]:
print len(t['text'].dropna())
print len(t['url'].dropna())
print len(t.dropna(subset = ['text']).drop_duplicates())

19929
19929
19929

In [66]:
t = t.dropna(subset = ['text'])

In [69]:
t.head()

,artical_subheader,article_header,authors,category,date,error,id,index,source,text,time,url
4291,Крым поставил в украинский Геническ 14 тысяч к...,«Они нам не чужие»,Дарья Тихончук,NaN,NaN,NaN,NaN,NaN,k,Крым уже поставил около 14 тыс. кубометров газ...,2016-01-05,/doc/2888618
4290,"Туркомпании могут получить 2,765 млрд рублей с...",Правительство поддержит операторов внутреннего...,Дарья Тихончук,NaN,NaN,NaN,NaN,NaN,k,"Премьер-министр РФ Дмитрий Медведев заявил, чт...",2016-01-05,/doc/2888728
13502,Стоимость нефти Brent упала ниже $35 за баррель,Курс доллара превысил 75 руб./$,Дмитрий Михайлович,NaN,NaN,NaN,NaN,NaN,k,Первая рабочая неделя нового 2016 года не прин...,2016-01-06,/doc/2888815
13503,Финансовый кризис в России возглавляет список ...,Дешевая нефть даже хуже дорогой,Дмитрий Бутрин,NaN,NaN,NaN,NaN,NaN,k,"Более быстрый, чем ожидалось ранее, экономичес...",2016-01-07,/doc/2888894
4292,Онлайн-кинотеатр объявил о начале работы в 130...,Netflix подключил Россию,Роман Рожков,NaN,NaN,NaN,NaN,NaN,k,"Американский видеосервис Netflix, на чью долю ...",2016-01-07,/doc/2888899

In [70]:
t.to_excel('data.xlsx')

# Описание данных

In [3]:
t = pd.read_excel('data.xlsx')

del t['category']
del t['error']
del t['id']
del t['index']
del t['date']

t = t.reset_index(drop = True)

In [86]:
t.describe()

,artical_subheader,article_header,authors,source,text,time,url
count,19484,19910,15289,19929,19929,19929,19929
unique,18989,19465,2609,3,19929,2307,19929
top,"Мнения и прогнозы аналитиков о том, как будет ...",Правила игры,Евгений Хвостик,k,февраль российские акции начали с коррекции. и...,2016-04-25 00:00:00,/doc/3048379
freq,125,348,273,16594,1,47,1
first,NaN,NaN,NaN,NaN,NaN,2016-01-05 00:00:00,NaN
last,NaN,NaN,NaN,NaN,NaN,2018-05-13 19:21:11,NaN

In [84]:
def lower(x): return x.lower()
t['text'] = t['text'].apply(lower)

In [85]:
t.head()

,artical_subheader,article_header,authors,source,text,time,url
0,Крым поставил в украинский Геническ 14 тысяч к...,«Они нам не чужие»,Дарья Тихончук,k,крым уже поставил около 14 тыс. кубометров газ...,2016-01-05,/doc/2888618
1,"Туркомпании могут получить 2,765 млрд рублей с...",Правительство поддержит операторов внутреннего...,Дарья Тихончук,k,"премьер-министр рф дмитрий медведев заявил, чт...",2016-01-05,/doc/2888728
2,Стоимость нефти Brent упала ниже $35 за баррель,Курс доллара превысил 75 руб./$,Дмитрий Михайлович,k,первая рабочая неделя нового 2016 года не прин...,2016-01-06,/doc/2888815
3,Финансовый кризис в России возглавляет список ...,Дешевая нефть даже хуже дорогой,Дмитрий Бутрин,k,"более быстрый, чем ожидалось ранее, экономичес...",2016-01-07,/doc/2888894
4,Онлайн-кинотеатр объявил о начале работы в 130...,Netflix подключил Россию,Роман Рожков,k,"американский видеосервис netflix, на чью долю ...",2016-01-07,/doc/2888899

# Загрузка NLTK

In [6]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\defimov\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [13]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\defimov\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [212]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\defimov\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [213]:
nltk.download('omw')

[nltk_data] Downloading package omw to
[nltk_data]     C:\Users\defimov\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\omw.zip.

True

# Обработка

In [20]:
import nltk
from nltk.corpus import stopwords
from nltk.corpus import brown
import re

In [147]:
def clear_text(x):
    return re.sub(' +',u' ', re.sub(u'[^а-я ]',u'', x.lower()))

t['text_clear'] = t['text'].apply(clear_text)

In [27]:
print re.sub(' +',u' ', re.sub(u'[^а-я ]',u' ', u'привет фвыалод - фв- фва вфа-фва'.lower()))

привет фвыалод фв фва вфа фва

In [149]:
t.to_excel('data_1.xlsx')

In [152]:
# токенизируем все
time0 = time.time()
tokens = []
l = t['text_clear'].tolist()
print len(l)

for i in range(0,len(l)):
    print '\r', i,
    tokens.append(nltk.word_tokenize(l[i]))
print time.time() - time0

 19929
19928 121.290999889

In [153]:
with open('tokens.pkl', 'wb') as f:
    pickle.dump(tokens, f)

In [40]:
with open('tokens.pkl', 'rb') as f:
    tok = pickle.load(f)

In [42]:
print len(tok)

100

In [21]:
stop_words = nltk.corpus.stopwords.words('russian')
def delete_stop_words(x):
    return [word for word in x if word not in stop_words]

print len(tokens)
tokens_nostopwords = []

time0 = time.time()
for i in range(0,len(tokens)):
    print '\r', i,
    tokens_nostopwords = tokens_nostopwords + [delete_stop_words(tokens[i])]
print time.time() - time0

NameError: name 'tokens' is not defined

In [179]:
with open('tokens_nostopwords.pkl', 'wb') as f:
    pickle.dump(tokens, f)

In [180]:
print len(tokens)
print len(tokens_nostopwords)

19929
19929

In [24]:
for x in stop_words: print x

и
в
во
не
что
он
на
я
с
со
как
а
то
все
она
так
его
но
да
ты
к
у
же
вы
за
бы
по
только
ее
мне
было
вот
от
меня
еще
нет
о
из
ему
теперь
когда
даже
ну
вдруг
ли
если
уже
или
ни
быть
был
него
до
вас
нибудь
опять
уж
вам
ведь
там
потом
себя
ничего
ей
может
они
тут
где
есть
надо
ней
для
мы
тебя
их
чем
была
сам
чтоб
без
будто
чего
раз
тоже
себе
под
будет
ж
тогда
кто
этот
того
потому
этого
какой
совсем
ним
здесь
этом
один
почти
мой
тем
чтобы
нее
сейчас
были
куда
зачем
всех
никогда
можно
при
наконец
два
об
другой
хоть
после
над
больше
тот
через
эти
нас
про
всего
них
какая
много
разве
три
эту
моя
впрочем
хорошо
свою
этой
перед
иногда
лучше
чуть
том
нельзя
такой
им
более
всегда
конечно
всю
между

# Очистка слов

In [193]:
from nltk.stem import  SnowballStemmer
stemmer = SnowballStemmer('russian')
tokens_st = []

print len(tokens_nostopwords)
for i in range(0,len(tokens_nostopwords)):
    print '\r', i,
    stem = [stemmer.stem(w) for w in tokens_nostopwords[i]]
    tokens_st = tokens_st + [stem]

19929
19928

In [195]:
with open('tokens_stem.pkl', 'wb') as f:
    pickle.dump(tokens_st, f)

# Синонимы

In [210]:
from nltk.corpus import wordnet as wn
from nltk.corpus.reader.plaintext import PlaintextCorpusReader

In [217]:
wn.root

FileSystemPathPointer(u'C:\\Users\\defimov\\AppData\\Roaming\\nltk_data\\corpora\\wordnet')

In [208]:
wn.synsets(u'small')

[Synset('small.n.01'),
 Synset('small.n.02'),
 Synset('small.a.01'),
 Synset('minor.s.10'),
 Synset('little.s.03'),
 Synset('small.s.04'),
 Synset('humble.s.01'),
 Synset('little.s.07'),
 Synset('little.s.05'),
 Synset('small.s.08'),
 Synset('modest.s.02'),
 Synset('belittled.s.01'),
 Synset('small.r.01')]

In [4]:
with open('tokens_stem.pkl', 'rb') as f:
    tok = pickle.load(f)

In [10]:
print ' '.join(tok[0])

крым постав окол тыс кубометр газ находя херсонск област украинск город геническ изз холод вышл стро отопительн прибор сообщ глав крым серг аксен мэр геническ александр тулуп зав обраща помощ владимир путин назва информац провокац украинск нафтогаз утвержда геническ обеспечива исключительн украинск газ нам чуж независим национальн котор хот жит нормальн успешн стран сожален везет везл нам счита независим отношен правительств украин наш руководств граждан украин страда должн цитир ри новост глав крым серге аксенов подчеркнул жител правительств украин эт абсолютн разн люд выраз готовн поддержа населен украин сложн ситуац господин аксен напомн прошл год крым поставля газ геническ период холод прошл год постав окол тыс кубометр газ геническ год такж нам поступ обращен помоч наш сосед сложн период добав глав крым серг аксен отмет геническ поставл окол тыс кубометр газ наканун пресссекретар президент рф дмитр песк сообщ мэр геническ александр тулуп попрос владимир путин налад поставк газ жител город замерзл господин песк заяв российск лидер рассмотрел эт обращен исход гуманитарн соображен поруч проработа вопрос обеспечен газ украинск город крымск компан черноморнефтегаз нача поставк газ геническ ран сообщ глав компан игор шабан слов предполага обь суточн поставок тыс кубометр сутк зависим погод потреблен однак сегодн мэр город геническ александр тулуп заяв украинск издан ун обраща помощ владимир путин назва информац просьб помощ российск сторон провокац путин звон письм путин писа вел переговор украинск правительств нам забра наш газ котор наход хранилищ джанко эт газ российск эт газ наш котор перекр лет реверсн заяв господин тулуп глав геническ район госадминистрац алекс сыщенк сегодн сообщ настоя врем южноукраинск город получа газ глебовск подземн хранилищ крым полн объем уточн договарива поставк газ договорен так уровн эт полномоч геническ район администрац просьб помоч обраща депутат верховн рад областн государствен администрац кабинет министр переговор вел сказа господин сыщенк очеред украинск компан нафтогаз утвержда поставок российск газ такж черноморнефтегаз город херсонск област изначальн газ закачива областн месторожден стрелков заявлен компан подчеркива город физическ присоедин друг участк украинск газотранспортн сет сообщен такж подчеркива избыток газ котор доб лет хран глебовск пхг расположен территор крым откуд зимн период поставля обратн жител геническ поч украин конц год заплат газпр газпр ноябр прекрат поставк газ украин поступлен нов платеж киев настаива пок необходим нов закупк газ росс собира взят пауз подним необходим объем подземн хранилищ возобнов закупк украин хочет лиш перв квартал год чита подробн дар тихончук

In [12]:
print len(tok)
print len(t)

19929
19929

In [14]:
s = []
for i in range(0,len(tok)):
    print '\r',i,
    s = s + [' '.join(tok[i])]

19928

In [15]:
t['text_clear'] = s

In [17]:
t.to_excel('data.xlsx')